<footer class="main-footer footer">
	<table align="center">
		<tbody>
			<tr>
				<td align="center">
					<span id="_ideConac">
						<img id="imgConac" vspace="0" hspace="0" border="0" src="//dcs.conac.cn/image/blue.png"
							data-bd-imgshare-binded="1">
					</span>
					<span id="_ideConac"></span>
				</td>
				<td align="center">
					<p style="text-align: center; line-height: 30px; color: white; font-size: 12px;">
						Copyright 2019 Seasky All Rights Reserved <br>						
					</p>
				</td>
			</tr>
		</tbody>
	</table>
</footer>