<div class="box box-primary">
  <div class="box-header with-border" *ngIf="isShowSelectPageSize">
    <h3 class="box-title">{{title}}&nbsp;
    </h3>
    <!-- tools box -->
    <div class="pull-right box-tools">
      每页显示:
      <button type="button" class="btn btn-box-tool" (click)="onChangePageSize(10)">
        10
      </button>
      /
      <button type="button" class="btn btn-box-tool" (click)="onChangePageSize(50)">
        50
      </button>
      /
      <button type="button" class="btn btn-box-tool" (click)="onChangePageSize(100)">
        100
      </button>
    </div>
    <!-- /. tools -->
  </div>
  <div class="box-body">
    <div id="" class="dataTables_wrapper form-inline dt-bootstrap">
      <div class="row">
        <div class="col-sm-12">
          <ng-content select="table"></ng-content>
        </div>
      </div>
      <app-pagination [totalCount]="pageInfo.dataCount" [totalPage]="pageInfo.totalPages"
        [currentPage]="pageInfo.pageNO" [pageSize]="pageInfo.pageSize" 
        [isShowtitle] = "isShowtitle" [isShowGoTo] = "isShowGoTo"
        (pageChanges)="onPageChange($event)">
      </app-pagination>
    </div>
  </div>
</div>