<unity>
  <containers>
    <container name="defaultContainer">
      <register type="Tomato.NewTempProject.BLL.IAppraisalsService,Tomato.NewTempProject.BLL" mapTo="Tomato.NewTempProject.BLL.AppraisalsService,Tomato.NewTempProject.BLL"/>
      <register type="Tomato.NewTempProject.DAL.IAppraisalsRepository,Tomato.NewTempProject.DAL" mapTo="Tomato.NewTempProject.DAL.AppraisalsRepository,Tomato.NewTempProject.DAL"/>

    </container>
  </containers>
</unity>
