<unity>
  <containers>
    <container name="defaultContainer">
      <register type="Tomato.NewTempProject.BLL.IModelService,Tomato.NewTempProject.BLL" mapTo="Tomato.NewTempProject.BLL.ModelService,Tomato.NewTempProject.BLL"/>
      <register type="Tomato.NewTempProject.DAL.IModelRepository,Tomato.NewTempProject.DAL" mapTo="Tomato.NewTempProject.DAL.ModelRepository,Tomato.NewTempProject.DAL"/>
      <register type="Tomato.NewTempProject.BLL.IModelDetailService,Tomato.NewTempProject.BLL" mapTo="Tomato.NewTempProject.BLL.ModelDetailService,Tomato.NewTempProject.BLL"/>
      <register type="Tomato.NewTempProject.DAL.IModelDetailRepository,Tomato.NewTempProject.DAL" mapTo="Tomato.NewTempProject.DAL.ModelDetailRepository,Tomato.NewTempProject.DAL"/>

    </container>
  </containers>
</unity>
