<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
           type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <connectionStrings>
    <add name="BaseConn" connectionString="server=.;database=db_SyTemplater;uid=sa;pwd=123456" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <unity>
    <containers>
      <container name = "defaultContainer">

        <register type="SeaSky.SyTemplater.BLL.IMenuService,SeaSky.SyTemplater.BLL" mapTo="SeaSky.SyTemplater.BLL.MenuService,SeaSky.SyTemplater.BLL"/>
        <register type="SeaSky.SyTemplater.DAL.IMenuRepository,SeaSky.SyTemplater.DAL" mapTo="SeaSky.SyTemplater.DAL.MenuRepository,SeaSky.SyTemplater.DAL"/>
        <register type="SeaSky.SyTemplater.BLL.IUserService,SeaSky.SyTemplater.BLL" mapTo="SeaSky.SyTemplater.BLL.UserService,SeaSky.SyTemplater.BLL"/>
        <register type="SeaSky.SyTemplater.DAL.IUserRepository,SeaSky.SyTemplater.DAL" mapTo="SeaSky.SyTemplater.DAL.UserRepository,SeaSky.SyTemplater.DAL"/>


      </container>
    </containers>
  </unity>
</configuration>