<!--窗口-->
<div class="modal fade" id="user">
  <div class="modal-dialog" style="width: 900px;">
    <div class=" modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">用户</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <button type="button" class="btn btn-primary mr-2" (click)="onSaveUser()">保存</button>
            </div>
          </div>
        </div>

        <div class='row'>
          <div class='col-md-6'>
            <div class='form-group'>
              <label>用户姓名</label>
              <input type = 'text' class='form-control radius' placeholder='请输入用户姓名'
                [(ngModel)]='UserInputModel.userName'>
            </div>
          </div>
          <div class='col-md-6'>
            <div class='form-group'>
              <label>工号</label>
              <input type = 'text' class='form-control radius' placeholder='请输入工号'
                [(ngModel)]='UserInputModel.userNo'>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-6'>
            <div class='form-group'>
              <label>登录账号</label>
              <input type = 'text' class='form-control radius' placeholder='请输入登录账号'
                [(ngModel)]='UserInputModel.loginNo'>
            </div>
          </div>
          <div class='col-md-6'>
            <div class='form-group'>
              <label>登录密码</label>
              <input type = 'text' class='form-control radius' placeholder='请输入登录密码'
                [(ngModel)]='UserInputModel.loginPwd'>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-6'>
            <div class='form-group'>
              <label>用户类型</label>
              <input type = 'text' class='form-control radius' placeholder='请输入用户类型'
                [(ngModel)]='UserInputModel.userType'>
            </div>
          </div>
          <div class='col-md-6'>
            <div class='form-group'>
              <label>邮箱</label>
              <input type = 'text' class='form-control radius' placeholder='请输入邮箱'
                [(ngModel)]='UserInputModel.email'>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-6'>
            <div class='form-group'>
              <label>手机</label>
              <input type = 'text' class='form-control radius' placeholder='请输入手机'
                [(ngModel)]='UserInputModel.telephone'>
            </div>
          </div>
          <div class='col-md-6'>
                <div class='pretty p-icon p-smooth'>
                  <input type = 'checkbox'[(ngModel)] = 'UserInputModel.lockState' />
                  <div class='state p-success'>
                    <i class='icon fa fa-check'></i>
                    <label>锁定状态</label>
                  </div>
                </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-6'>
                <div class='pretty p-icon p-smooth'>
                  <input type = 'checkbox'[(ngModel)] = 'UserInputModel.useState' />
                  <div class='state p-success'>
                    <i class='icon fa fa-check'></i>
                    <label>启用状态</label>
                  </div>
                </div>
          </div>
          <div class='col-md-6'>
            <div class='form-group'>
              <label>扩展属性1</label>
              <input type = 'text' class='form-control radius' placeholder='请输入扩展属性1'
                [(ngModel)]='UserInputModel.extend1'>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-6'>
            <div class='form-group'>
              <label>扩展属性2</label>
              <input type = 'text' class='form-control radius' placeholder='请输入扩展属性2'
                [(ngModel)]='UserInputModel.extend2'>
            </div>
          </div>
          <div class='col-md-6'>
            <div class='form-group'>
              <label>扩展属性3</label>
              <input type = 'text' class='form-control radius' placeholder='请输入扩展属性3'
                [(ngModel)]='UserInputModel.extend3'>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-6'>
            <div class='form-group'>
              <label>扩展属性4</label>
              <input type = 'text' class='form-control radius' placeholder='请输入扩展属性4'
                [(ngModel)]='UserInputModel.extend4'>
            </div>
          </div>
          <div class='col-md-6'>
            <div class='form-group'>
              <label>扩展属性5</label>
              <input type = 'text' class='form-control radius' placeholder='请输入扩展属性5'
                [(ngModel)]='UserInputModel.extend5'>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-6'>
            <div class='form-group'>
              <label>扩展属性6</label>
              <input type = 'text' class='form-control radius' placeholder='请输入扩展属性6'
                [(ngModel)]='UserInputModel.extend6'>
            </div>
          </div>
          <div class='col-md-6'>
            <div class='form-group'>
              <label>扩展属性7</label>
              <input type = 'text' class='form-control radius' placeholder='请输入扩展属性7'
                [(ngModel)]='UserInputModel.extend7'>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-6'>
            <div class='form-group'>
              <label>扩展属性8</label>
              <input type = 'text' class='form-control radius' placeholder='请输入扩展属性8'
                [(ngModel)]='UserInputModel.extend8'>
            </div>
          </div>
          <div class='col-md-6'>
            <div class='form-group'>
              <label>扩展属性9</label>
              <input type = 'text' class='form-control radius' placeholder='请输入扩展属性9'
                [(ngModel)]='UserInputModel.extend9'>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-6'>
            <div class='form-group'>
              <label>扩展属性10</label>
              <input type = 'text' class='form-control radius' placeholder='请输入扩展属性10'
                [(ngModel)]='UserInputModel.extend10'>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
